*{
    padding: 0;
    margin: 0;
}


body{
    background-image: url(../zdj/clouds.jpg) ;
    background-attachment: fixed;
    background-size: cover;
}
a
{
    text-decoration: none;
    color: rgb(60, 7, 145);
    font-weight: bold;
}
a:hover{
    color: rgb(194, 37, 168);
}
#contener
{
    width: 1004px;
    margin: 0 auto;
    font-family: Neucha, sans-serif;
    font-weight: 100;
}
/*górna część kontenera*/
#contener-top
{
    position: relative;
    margin-top: 10px;
    background-image: url(../zdj/gora.png);
    width: 944x;
    height: 200px;
}
.logo
{
    border: 0;
    position: absolute;
    top: 10px;
    left: 10px;
}
#title
{
position: absolute;
top: 65px;
left: 320px;
}
#page-name
{
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: right;
   line-height: 100%;
   font-weight: bolder;
}

#top-menu
{
    position: absolute;
    left: 180px;
    bottom: -10px;
}
#top-menu-list li
{
list-style-type: none;
float: left;
background-color: rgb(241, 97, 234);
padding: 10px;
border: 1px solid rgb(250, 250, 250);

}
#top-menu-list li:hover 
{
    background-color: rgba(230, 182, 215, 0.842);
}

/*środkowa część konteneta*/
#contener-main
{ 
    background-color: rgba(221, 176, 247, 0.514);
    height: 70px;
}

#contener-main li
{
    list-style: none;
    float: left;
    padding: 10px;
    margin-top: 10px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}   
/*menu rozwijane*/
#poziom-pierwszy
{
    margin-left: 180px;
    width: 700px;
}

#poziom-pierwszy li .poziom-drugi
{
 display: none;
}
#poziom-pierwszy li:hover .poziom-drugi
{
    display: block;
    width: 155px;
}
#poziom-pierwszy li
{
  position: relative; 
 

}
#poziom-pierwszy li .poziom-drugi 
{
    position: absolute;
    top: 39px;
    left: 0;
    background-color: rgba(219, 155, 214, 0.856);
    margin-top: 0;
}

#poziom-pierwszy li .poziom-drugi li
{
    margin-top: 0;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}
#poziom-pierwszy li .poziom-drugi li a
{
display: block;
width: 134px;

}
#olejki
{
    width: 136px;
    border-right: 1px solid white;
}
/* dziala tylko na pierwszy poziom li
#poziom-pierwszy > li
{
  height: 20px;
} */ 
/*content*/

#content
{
    background-color: rgba(221, 176, 247, 0.514);
    height: 650px;
}

#text
{
    text-align: justify;
    padding: 10px 50px;
    line-height: 140%;
    font-size: 15px;
    

    
}
h2
{
    font-size: 25px;
    text-align: center;
    color: rgb(168, 7, 74);
    margin-bottom: 20px;
    font-style: italic;
}
p
{
    margin-bottom: 15px;
}
 .text-format
 {
    text-indent: 15px;
 }
.image
{
    float: right;
    clear: right;
    margin-left: 20px;  
}
#bottom-content
{
    margin-left: 50px;
}
.button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
/* koniec środkowej cześci strony*/

#dolna-czesc
{
   margin-bottom: 10px; 
   background-color: rgb(255, 255, 255);
   height: 80px;
}
#dolna-czesc img
{
 margin-left: 50px;
}

#dolna-czesc p
{
    margin-bottom: 0;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#dolna-czesc li
{
    list-style-type: none;
    float: left; 
}
#dolna-czesc a:hover
{
    opacity: 0.7;
}
#dolna-czesc ul
{
    text-align: left;
    width: 50%;
    position: relative;
    left: 27%;
}