:root
{
    
    scroll-behavior: smooth;
   
}
*
{
    padding: 0;
    margin: 0;
}
body 
{
  
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    margin: 10px auto;
    
}

#website_top
{
    background-color: black;
    background-size: 100%;
    height: 140px; 
    width: 90%;
    position: fixed;
    top: 0;
    left: 5%;
    
}
/*website title*/
#web_title_mail
{
    width: 100%;
    position: relative;
}
#web_title_mail hgroup
{
width: 90%;
float: left;
}
#web_title_mail address
{
margin-top: 10px;
position: absolute;
right: 10px;

}
hgroup h3 
{
color: rgb(216, 192, 161);
padding: 10px;
display: inline-block;
border-right: 1px solid white;
}
hgroup h1
{
color: antiquewhite;
padding: 7px;
display: inline-block;
font-size: 150%;

}

/*website title end*/
 #web_menu
 {
    width: 100%;
    height: 100px;
    display: inline-block;
    position: relative;
    margin-top: 20px;
    background-color: black;
 }
/*navigation*/

#nav
{
   width: 40%;
}
.nav_menu 
{
    display: block;
    text-decoration: none;
    padding:5px;
    width: 50%;  
    
}

.nav_menu a
{
    color: aquamarine;
    text-decoration: none;
    
}

.nav_menu a:hover
{
    color: rgb(186, 245, 24); 
}
/*navigation end*/
 
/*social media*/
#social_media
{
   position: absolute;
   top: 0px;
   right: 10px;
   float: right;
}

/*social media*/
#system_fundamentals
{
    margin-top: 200px;
    padding: 10px 20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
