/*dodoajemy tylko roznice miedzy main a mobile bo wczytuje oba css*/
@media screen and (orientation: portrait)
{
   #container
   {
    border: 10px solid gray;
   }
}

@media screen and (orientation: landscape)/*działą do szerokości 481*/
{
    #container
   {
    border: 10px solid black;
   } 
}


#middle-flow
{

    flex-direction: column; 
    -ms-flex-direction: column; 
    box-orient: vertical;
}
