
@import "_variables.scss";
@import "_nav.scss";
@import "_mixins.scss";
@import "_functions.scss";
@import "_section.scss";
//h1
//{
   // font-size: $siezeOfHeader;
   // color: $colorOfHeader;   
//}
 .akapit{
        width: 200px;
        height: 100px;
       @include text-overflow();
       clear: left;
       margin: 0 auto;
       display: block;
       
 }

 @include small-box(red);
 @include small-box(yellow);
