*
{
    margin: 0;
    padding: 0;
    
}

body
{
  background-image: url(../zdj/sea.jpg); 
  background-size: cover; 
  background-attachment: fixed;
  font-family: 'MedievalSharp', cursive;
  
}
#parent
{
    display: grid;
    height: 200px;
    width: 1004px;
    margin: 0 auto;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 2fr 5fr 4fr 4fr 1fr;
    grid-template-areas: 
    "header header header header"
    "menu main main main"
    "section section section aside"
    "article article article aside"
    "footer footer footer footer";  
}

#parent header
{
    grid-area: header;
    background-image: url(../zdj/image-e9r3g692.png);
    
    height: 200;
}

#header
{
    display: inline-block;
}
#parent menu
{
    grid-area: menu;
    background-color: rgba(124, 91, 49, 0.733);
}

#parent article
{
    grid-area: article;
    background-color: aquamarine;
}

#parent main
{
    grid-area: main;
    background-color: rgb(114, 209, 177);
}

#parent aside
{
    grid-area: aside;
    background-color: rgb(150, 113, 185);
}

#parent section
{
    grid-area: section;
    background-color: rgb(175, 98, 98);
}

#parent footer
{
    grid-area: footer;
    background-color: rgb(190, 141, 79);
}